body{
    margin: -21px 0 0 0;
    vertical-align: top;
}
header{
    background-image: url("images/registrationBackground.jpg");
    background-size: cover;
    height: 105vh;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h4 {
    color: black;
    font-family: 'Comfortaa', cursive;
}
h1{
    font-size: 50px;
}
h4{
    margin-top: -25px;
    font-size: 30px;
}
#registrationForm{
    max-width: 600px;
    margin: 0 auto 20px;
}
#authorizationForm{
    max-width: 600px;
    margin: 0 auto 20px;
}